.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100dvw;
    height: 100dvh;
}

.container {
    background: #aaaaaa;
    height: 764px;
    width: 393px;
    min-height: 764px;
    min-width: 393px;
    max-height: 764px;
    max-width: 393px;
}


.header {
    height: 52px;
    background: #25a806;

}

.body {

    height: calc(764px - 101px);
}

.nav {
    height: 48px;
    border-top: 1px solid darkslategray;
    background: #25a806;
}