.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100dvw;
    height: 100dvh;
}

.container {
    background: #aaaaaa;
    /*height: 764px;*/
    margin: auto;
    width: 393px;
    /*width: 100%;*/
    /*min-width: 320px;*/
    /*max-width: 430px;*/
    /*height: 100%;*/
    /*min-height: 568px;*/
    /*max-height: 932px;*/
}


.header {
    height: 52px;
    background: #25a806;
    /*top: 0;*/
    /*position: sticky;*/

}

.body {
    /*height: calc(100dvh - 101px);*/
    height: calc(100dvh - 101px);

    /*margin-top: 52px;*/
    /*margin-bottom: 49px;*/
    /*width: 500px;*/
    /*height: 100%;*/
}

.nav {
    height: 48px;
    border-top: 1px solid darkslategray;
    background: #29b872;
    /*bottom: 0;*/
    /*position: sticky;*/
}