* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* Ẩn scroll bar của toàn bộ trang */
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    height: 52px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.body {
    flex: 1;
    margin-top: 52px; /* Đảm bảo nội dung body không bị che bởi header */
    margin-bottom: 48px; /* Đảm bảo nội dung body không bị che bởi navigation */
    overflow-y: auto; /* Cho phép scroll khi nội dung dài */
    padding: 10px;
}

.navigate {
    height: 48px;
    background-color: #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
